<!-- <p>create-qr works!</p>
<button (click)="CreateQrCloud()">Create qr code</button>

            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="TenantName" class="form-label">Tenant Name *</label>
                <input
                  type="text"
                  id="TenantName"
                  class="form-control"
                  formControlName="TenantName"
                  [class.is-invalid]="TenantName?.invalid && TenantName?.touched"
                />
                @if (TenantName?.invalid && TenantName?.touched) {
                <div class="invalid-feedback">Tenant name is required</div>
                }
              </div>
            </div>
          </div>

<div>
    <img [src]="[imgPath]">
    {{imgPath}}
</div> -->