<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item message-icon-container">
      <a class="nav-link" (click)="toggleMessagePopup()">
          <i class="fas fa-envelope"></i> <span *ngIf="unreadMessagesCount > 0" class="message-count">{{ unreadMessagesCount }}</span>
      </a>

      <div class="message-popup" [class.show]="showPopup">
          <div class="popup-header">
              <h5>Recent Chats</h5>
              <button class="close-btn" (click)="toggleMessagePopup()">&times;</button>
          </div>
          <div class="popup-body">
              <ng-container *ngIf="recentChats && recentChats.length > 0; else noChatsPopup">
                  <div
                      *ngFor="let chat of recentChats"
                      class="chat-item"
                      (click)="goToChat(chat.otherUserId)"
                  >
                      <div class="chat-main-info">
                          <div class="chat-user-name">{{ chat.otherUserName }}</div>
                          <div class="last-message-preview">
                              {{ chat.lastMessageContent | slice:0:30 }}{{ chat.lastMessageContent.length > 30 ? '...' : '' }}
                          </div>
                      </div>
                      <div class="chat-meta-info">
                          <div class="message-time">
                              {{ chat.lastMessageTimestamp | date:'shortTime' }}
                          </div>
                          <span
                              *ngIf="chat.unreadCount && chat.unreadCount > 0"
                              class="badge bg-primary rounded-pill unread-badge"
                              >{{ chat.unreadCount }}</span
                          >
                      </div>
                  </div>
              </ng-container>
              <ng-template #noChatsPopup>
                  <div class="no-chats-message">No recent chats.</div>
              </ng-template>
          </div>
          <div class="popup-footer">
              <a [routerLink]="['/chat']" (click)="toggleMessagePopup()">View All Chats</a>
          </div>
      </div>
  </li>

  </ul>
